<?php
{% if index == 0 %}
    {% set headers = (widget.data0 | get_headers(0)) %}
    {% set datas = ( widget.data0 | get_datas(0)) %}
    {% set type = widget.type0 %}
    {% set title = widget.title0 %}
    {% set pieSize = widget.pieSize0 %}
    {% set showLabel = widget.showLabel0 ? 'true' : 'false' %}
    {% set fontSize = widget.fontSize0 %}
    {% set width = widget.width0 %}
    {% set height = widget.height0 %}
{% else %}
    {% set headers = (widget.data1 | get_headers(1)) %}
    {% set datas = ( widget.data1 | get_datas(1)) %}
    {% set type = widget.type1 %}
    {% set title = widget.title1 %}
    {% set pieSize = widget.pieSize1 %}
    {% set showLabel = widget.showLabel1 ? 'true' : 'false' %}
    {% set fontSize = widget.fontSize1 %}
    {% set width = widget.width1 %}
    {% set height = widget.height1 %}
{% endif %}
?>
<script type="text/javascript">
$(function () {
    $("#{{ index ~ '_' ~ type ~ '-' ~ title | camelize}}").highcharts({
        chart: {
            type: '{{ type }}'
        },
        title: {
            text: '{{ title }}'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: ['{{ headers | raw }}']
        },
        yAxis: {
            min: 0,
            title: {
                text: ''
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{{datas | raw}}]
    });
});

</script>
<div id="{{ index ~ '_' ~ type ~ '-' ~ title | camelize}}"
      style="width: {{ width }}px; height: {{ height }}px; margin: 0 auto">
</div>